.filter__list {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.filter__item {
  width: fit-content;
  cursor: pointer;

  display: flex;
  padding: 0 5px;

  border-radius: 6px;
}

.filter__item:hover {
  background-color: #fff;
}

.filter__item:hover p {
  color: #000 !important;
}
