.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  overflow: hidden;

  background-color: rgba(0, 0, 0, 0.7);
}

.gameForm {
  position: fixed;
  top: 50%;
  left: 50%;
  display: inline-flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  transform: translate(-50%, -50%);
  z-index: 1001;

  padding: 30px;

  background-color: var(--main-color);
  border-radius: 10px;
  border: 1px solid #000;
}

.title {
  font-size: 30px;
}

.title::first-letter {
  text-transform: uppercase;
}

.saveBtn {
  color: rgb(7, 206, 7);
}

.saveBtn:hover {
  background-color: rgb(7, 206, 7);
  border-color: rgb(7, 206, 7);
}

.editBtn {
  color: rgb(206, 138, 12);
}

.editBtn:hover {
  background-color: rgb(206, 138, 12);
  border-color: rgb(206, 138, 12);
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}
