.gameList {
  max-width: 70%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gameList:empty::before {
  content: "No game found.";
  position: absolute;
  top: 5px;
  left: 5px;
}
