.sidebar {
  padding-right: 50px;

  font-weight: 600;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  font-size: 20px;
}

.item {
  transition: 0.2s;
}

.item:hover {
  color: #cfcbcb;
}

.active {
  color: var(--success-color);
  font-size: 22px;
}
