:root {
  --main-color: rgb(34, 73, 107);
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
}

.no_scroll {
  overflow: hidden;
}

.content-wrapper {
  padding-top: 10px;
  display: flex;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.content {
  min-height: calc(100vh - 76px);
  background-color: var(--main-color);
}

a:focus {
  outline: none;
  background-color: rgb(22, 49, 71);
}
