:root {
  --main-color: rgb(34, 73, 107);
  --alert-color: rgb(241, 62, 62);
  --success-color: rgb(56, 167, 71);
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.no_scroll {
  overflow: hidden;
}
